openapi: 3.0.0
info:
  title: "Korean Government Procurement APIs (Updated)"
  description: "Updated OpenAPI specification for Korean government procurement APIs including Nara Market search conditions: 입찰공고서비스(3), 낙찰정보서비스(3), 계약정보서비스(4), 공공조달통계정보서비스(14), 물품목록정보서비스(12), 종합쇼핑몰품목정보서비스(9)"
  version: "2.1.0"
servers:
  - url: "http://apis.data.go.kr/1230000"
tags:
  - name: "입찰공고서비스"
    description: "BidPublicInfoService: 나라장터 검색조건 기반 입찰공고 조회 (3 operations)"
  - name: "낙찰정보서비스"
    description: "ScsbidInfoService: 나라장터 검색조건 기반 낙찰정보 조회 (3 operations)"
  - name: "계약정보서비스"
    description: "CntrctInfoService: 나라장터 검색조건 기반 계약정보 조회 (4 operations)"
  - name: "공공조달통계정보서비스"
    description: "PubPrcrmntStatInfoService: 공공조달 통계정보 (14 operations)"
  - name: "물품목록정보서비스"
    description: "ThngListInfoService: 물품분류, 목록, 이력정보 (12 operations)"
  - name: "종합쇼핑몰품목정보서비스"
    description: "ShoppingMallPrdctInfoService: 계약품목, 납품, 조달정보 (9 operations)"

paths:
  # 입찰공고서비스 (3 operations)
  /ad/BidPublicInfoService/getBidPblancListInfoCnstwkPPSSrch:
    get:
      tags: ["입찰공고서비스"]
      summary: "나라장터검색조건에 의한 입찰공고공사조회"
      description: "검색조건에 공고게시일시, 개찰일시 범위, 공고기관, 수요기관 등을 입력하여 공사부분의 입찰공고정보를 조회합니다."
      operationId: "getBidPblancListInfoCnstwkPPSSrch"
      parameters:
        - $ref: "#/components/parameters/ServiceKey"
        - $ref: "#/components/parameters/NumOfRows"
        - $ref: "#/components/parameters/PageNo"
        - $ref: "#/components/parameters/Type"
        - name: "inqryDiv"
          in: "query"
          description: "조회구분 (1:공고게시일시, 2:개찰일시)"
          required: true
          schema:
            type: "string"
            enum: ["1", "2"]
        - name: "inqryBgnDt"
          in: "query"
          description: "조회시작일시 (YYYYMMDDHHMM)"
          schema:
            type: "string"
        - name: "inqryEndDt"
          in: "query"
          description: "조회종료일시 (YYYYMMDDHHMM)"
          schema:
            type: "string"
        - name: "bidNtceNm"
          in: "query"
          description: "입찰공고명 (부분검색 가능)"
          schema:
            type: "string"
        - name: "ntceInsttCd"
          in: "query"
          description: "공고기관코드"
          schema:
            type: "string"
        - name: "ntceInsttNm"
          in: "query"
          description: "공고기관명 (부분검색 가능)"
          schema:
            type: "string"
        - name: "dminsttCd"
          in: "query"
          description: "수요기관코드"
          schema:
            type: "string"
        - name: "dminsttNm"
          in: "query"
          description: "수요기관명 (부분검색 가능)"
          schema:
            type: "string"
        - name: "refNo"
          in: "query"
          description: "참조번호"
          schema:
            type: "string"
        - name: "prtcptLmtRgnCd"
          in: "query"
          description: "참가제한지역코드 (11:서울, 41:경기도 등)"
          schema:
            type: "string"
        - name: "prtcptLmtRgnNm"
          in: "query"
          description: "참가제한지역명 (부분검색 가능)"
          schema:
            type: "string"
        - name: "indstrytyCd"
          in: "query"
          description: "업종코드"
          schema:
            type: "string"
        - name: "indstrytyNm"
          in: "query"
          description: "업종명 (부분검색 가능)"
          schema:
            type: "string"
        - name: "presmptPrceBgn"
          in: "query"
          description: "추정가격 시작금액 (원)"
          schema:
            type: "integer"
        - name: "presmptPrceEnd"
          in: "query"
          description: "추정가격 종료금액 (원)"
          schema:
            type: "integer"
        - name: "prcrmntReqNo"
          in: "query"
          description: "조달요청번호"
          schema:
            type: "string"
        - name: "bidClseExcpYn"
          in: "query"
          description: "입찰마감제외여부 (Y/N)"
          schema:
            type: "string"
            enum: ["Y", "N"]
        - name: "intrntnlDivCd"
          in: "query"
          description: "국제구분코드 (1:국내, 2:국제)"
          schema:
            type: "string"
            enum: ["1", "2"]
      responses:
        '200':
          description: "성공"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"

  /ad/BidPublicInfoService/getBidPblancListInfoServcPPSSrch:
    get:
      tags: ["입찰공고서비스"]
      summary: "나라장터검색조건에 의한 입찰공고용역조회"
      description: "용역부문의 입찰공고정보를 조회합니다."
      operationId: "getBidPblancListInfoServcPPSSrch"
      parameters:
        - $ref: "#/components/parameters/ServiceKey"
        - $ref: "#/components/parameters/NumOfRows"
        - $ref: "#/components/parameters/PageNo"
        - $ref: "#/components/parameters/Type"
        - name: "inqryDiv"
          in: "query"
          description: "조회구분 (1:공고게시일시, 2:개찰일시)"
          required: true
          schema:
            type: "string"
            enum: ["1", "2"]
        - name: "inqryBgnDt"
          in: "query"
          description: "조회시작일시 (YYYYMMDDHHMM)"
          schema:
            type: "string"
        - name: "inqryEndDt"
          in: "query"
          description: "조회종료일시 (YYYYMMDDHHMM)"
          schema:
            type: "string"
        - name: "bidNtceNm"
          in: "query"
          description: "입찰공고명 (부분검색 가능)"
          schema:
            type: "string"
        - name: "ntceInsttCd"
          in: "query"
          description: "공고기관코드"
          schema:
            type: "string"
        - name: "ntceInsttNm"
          in: "query"
          description: "공고기관명 (부분검색 가능)"
          schema:
            type: "string"
        - name: "dminsttCd"
          in: "query"
          description: "수요기관코드"
          schema:
            type: "string"
        - name: "dminsttNm"
          in: "query"
          description: "수요기관명 (부분검색 가능)"
          schema:
            type: "string"
      responses:
        '200':
          description: "성공"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"

  /ad/BidPublicInfoService/getBidPblancListInfoThngPPSSrch:
    get:
      tags: ["입찰공고서비스"]
      summary: "나라장터검색조건에 의한 입찰공고물품조회"
      description: "물품부문의 입찰공고정보를 조회합니다."
      operationId: "getBidPblancListInfoThngPPSSrch"
      parameters:
        - $ref: "#/components/parameters/ServiceKey"
        - $ref: "#/components/parameters/NumOfRows"
        - $ref: "#/components/parameters/PageNo"
        - $ref: "#/components/parameters/Type"
        - name: "inqryDiv"
          in: "query"
          description: "조회구분 (1:공고게시일시, 2:개찰일시)"
          required: true
          schema:
            type: "string"
            enum: ["1", "2"]
        - name: "inqryBgnDt"
          in: "query"
          description: "조회시작일시 (YYYYMMDDHHMM)"
          schema:
            type: "string"
        - name: "inqryEndDt"
          in: "query"
          description: "조회종료일시 (YYYYMMDDHHMM)"
          schema:
            type: "string"
        - name: "bidNtceNm"
          in: "query"
          description: "입찰공고명 (부분검색 가능)"
          schema:
            type: "string"
        - name: "masYn"
          in: "query"
          description: "다수공급경쟁자여부 (Y/N)"
          schema:
            type: "string"
            enum: ["Y", "N"]
      responses:
        '200':
          description: "성공"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"

  # 낙찰정보서비스 (3 operations)
  /as/ScsbidInfoService/getScsbidListSttusThngPPSSrch:
    get:
      tags: ["낙찰정보서비스"]
      summary: "나라장터 검색조건에 의한 낙찰된 목록 현황 물품조회"
      description: "물품에 대한 나라장터 최종낙찰자 목록을 조회합니다."
      operationId: "getScsbidListSttusThngPPSSrch"
      parameters:
        - $ref: "#/components/parameters/ServiceKey"
        - $ref: "#/components/parameters/NumOfRows"
        - $ref: "#/components/parameters/PageNo"
        - $ref: "#/components/parameters/Type"
        - name: "inqryDiv"
          in: "query"
          description: "조회구분 (1:공고게시일시, 2:개찰일시, 3:입찰공고번호)"
          required: true
          schema:
            type: "string"
            enum: ["1", "2", "3"]
        - name: "inqryBgnDt"
          in: "query"
          description: "조회시작일시 (YYYYMMDDHHMM, inqryDiv=1,2일 때 필수)"
          schema:
            type: "string"
        - name: "inqryEndDt"
          in: "query"
          description: "조회종료일시 (YYYYMMDDHHMM, inqryDiv=1,2일 때 필수)"
          schema:
            type: "string"
        - name: "bidNtceNo"
          in: "query"
          description: "입찰공고번호 (inqryDiv=3일 때 필수)"
          schema:
            type: "string"
        - name: "bidNtceNm"
          in: "query"
          description: "입찰공고명 (부분검색 가능)"
          schema:
            type: "string"
        - name: "ntceInsttCd"
          in: "query"
          description: "공고기관코드"
          schema:
            type: "string"
        - name: "ntceInsttNm"
          in: "query"
          description: "공고기관명 (부분검색 가능)"
          schema:
            type: "string"
        - name: "dminsttCd"
          in: "query"
          description: "수요기관코드"
          schema:
            type: "string"
        - name: "dminsttNm"
          in: "query"
          description: "수요기관명 (부분검색 가능)"
          schema:
            type: "string"
        - name: "dtilPrdctClsfcNo"
          in: "query"
          description: "세부품명번호"
          schema:
            type: "string"
        - name: "mltsplyCmptYn"
          in: "query"
          description: "다수공급경쟁자여부 (Y/N)"
          schema:
            type: "string"
            enum: ["Y", "N"]
      responses:
        '200':
          description: "성공"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"

  /as/ScsbidInfoService/getScsbidListSttusCnstwkPPSSrch:
    get:
      tags: ["낙찰정보서비스"]
      summary: "나라장터 검색조건에 의한 낙찰된 목록 현황 공사조회"
      description: "공사에 대한 나라장터 최종낙찰자 목록을 조회합니다."
      operationId: "getScsbidListSttusCnstwkPPSSrch"
      parameters:
        - $ref: "#/components/parameters/ServiceKey"
        - $ref: "#/components/parameters/NumOfRows"
        - $ref: "#/components/parameters/PageNo"
        - $ref: "#/components/parameters/Type"
        - name: "inqryDiv"
          in: "query"
          description: "조회구분 (1:공고게시일시, 2:개찰일시, 3:입찰공고번호)"
          required: true
          schema:
            type: "string"
            enum: ["1", "2", "3"]
        - name: "inqryBgnDt"
          in: "query"
          description: "조회시작일시 (YYYYMMDDHHMM)"
          schema:
            type: "string"
        - name: "inqryEndDt"
          in: "query"
          description: "조회종료일시 (YYYYMMDDHHMM)"
          schema:
            type: "string"
        - name: "bidNtceNo"
          in: "query"
          description: "입찰공고번호"
          schema:
            type: "string"
        - name: "bidNtceNm"
          in: "query"
          description: "입찰공고명 (부분검색 가능)"
          schema:
            type: "string"
      responses:
        '200':
          description: "성공"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"

  /as/ScsbidInfoService/getScsbidListSttusServcPPSSrch:
    get:
      tags: ["낙찰정보서비스"]
      summary: "나라장터 검색조건에 의한 낙찰된 목록 현황 용역조회"
      description: "용역에 대한 나라장터 최종낙찰자 목록을 조회합니다."
      operationId: "getScsbidListSttusServcPPSSrch"
      parameters:
        - $ref: "#/components/parameters/ServiceKey"
        - $ref: "#/components/parameters/NumOfRows"
        - $ref: "#/components/parameters/PageNo"
        - $ref: "#/components/parameters/Type"
        - name: "inqryDiv"
          in: "query"
          description: "조회구분 (1:공고게시일시, 2:개찰일시, 3:입찰공고번호)"
          required: true
          schema:
            type: "string"
            enum: ["1", "2", "3"]
        - name: "inqryBgnDt"
          in: "query"
          description: "조회시작일시 (YYYYMMDDHHMM)"
          schema:
            type: "string"
        - name: "inqryEndDt"
          in: "query"
          description: "조회종료일시 (YYYYMMDDHHMM)"
          schema:
            type: "string"
        - name: "bidNtceNo"
          in: "query"
          description: "입찰공고번호"
          schema:
            type: "string"
        - name: "bidNtceNm"
          in: "query"
          description: "입찰공고명 (부분검색 가능)"
          schema:
            type: "string"
      responses:
        '200':
          description: "성공"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"

  # 계약정보서비스 (4 operations)
  /ao/CntrctInfoService/getCntrctInfoListThngPPSSrch:
    get:
      tags: ["계약정보서비스"]
      summary: "나라장터검색조건에 의한 계약현황 물품조회"
      description: "물품에 대한 계약정보를 조회합니다."
      operationId: "getCntrctInfoListThngPPSSrch"
      parameters:
        - $ref: "#/components/parameters/ServiceKey"
        - $ref: "#/components/parameters/NumOfRows"
        - $ref: "#/components/parameters/PageNo"
        - $ref: "#/components/parameters/Type"
        - name: "inqryDiv"
          in: "query"
          description: "조회구분 (1:계약체결일자, 2:확정계약번호, 3:요청번호, 4:공고번호)"
          required: true
          schema:
            type: "string"
            enum: ["1", "2", "3", "4"]
        - name: "inqryBgnDate"
          in: "query"
          description: "조회시작일자 (YYYYMMDD, 조회구분=1일 때 필수)"
          schema:
            type: "string"
        - name: "inqryEndDate"
          in: "query"
          description: "조회종료일자 (YYYYMMDD, 조회구분=1일 때 필수)"
          schema:
            type: "string"
        - name: "dcsnCntrctNo"
          in: "query"
          description: "확정계약번호 (조회구분=2일 때 필수)"
          schema:
            type: "string"
        - name: "reqNo"
          in: "query"
          description: "요청번호 (조회구분=3일 때 필수)"
          schema:
            type: "string"
        - name: "ntceNo"
          in: "query"
          description: "공고번호 (조회구분=4일 때 필수)"
          schema:
            type: "string"
        - name: "insttDivCd"
          in: "query"
          description: "기관구분코드 (1:계약기관, 2:수요기관)"
          schema:
            type: "string"
            enum: ["1", "2"]
        - name: "insttClsfcCd"
          in: "query"
          description: "기관분류코드"
          schema:
            type: "string"
        - name: "insttCd"
          in: "query"
          description: "기관코드"
          schema:
            type: "string"
        - name: "insttNm"
          in: "query"
          description: "기관명"
          schema:
            type: "string"
        - name: "prdctClsfcNoNm"
          in: "query"
          description: "품명"
          schema:
            type: "string"
        - name: "cntrctMthdCd"
          in: "query"
          description: "계약방법코드 (1:일반경쟁, 2:제한경쟁, 3:지명경쟁, 4:수의계약)"
          schema:
            type: "string"
            enum: ["1", "2", "3", "4"]
      responses:
        '200':
          description: "성공"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"

  /ao/CntrctInfoService/getCntrctInfoListCnstwkPPSSrch:
    get:
      tags: ["계약정보서비스"]
      summary: "나라장터검색조건에 의한 계약현황 공사조회"
      description: "공사에 대한 계약정보를 조회합니다."
      operationId: "getCntrctInfoListCnstwkPPSSrch"
      parameters:
        - $ref: "#/components/parameters/ServiceKey"
        - $ref: "#/components/parameters/NumOfRows"
        - $ref: "#/components/parameters/PageNo"
        - $ref: "#/components/parameters/Type"
        - name: "inqryDiv"
          in: "query"
          description: "조회구분 (1:계약체결일자, 2:확정계약번호, 3:요청번호, 4:공고번호)"
          required: true
          schema:
            type: "string"
            enum: ["1", "2", "3", "4"]
        - name: "cnsttyNm"
          in: "query"
          description: "공종명"
          schema:
            type: "string"
        - name: "cnstwkNm"
          in: "query"
          description: "공사명"
          schema:
            type: "string"
      responses:
        '200':
          description: "성공"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"

  /ao/CntrctInfoService/getCntrctInfoListServcPPSSrch:
    get:
      tags: ["계약정보서비스"]
      summary: "나라장터검색조건에 의한 계약현황 용역조회"
      description: "용역에 대한 계약정보를 조회합니다."
      operationId: "getCntrctInfoListServcPPSSrch"
      parameters:
        - $ref: "#/components/parameters/ServiceKey"
        - $ref: "#/components/parameters/NumOfRows"
        - $ref: "#/components/parameters/PageNo"
        - $ref: "#/components/parameters/Type"
        - name: "inqryDiv"
          in: "query"
          description: "조회구분 (1:계약체결일자, 2:확정계약번호, 3:요청번호, 4:공고번호)"
          required: true
          schema:
            type: "string"
            enum: ["1", "2", "3", "4"]
        - name: "cnsttyNm"
          in: "query"
          description: "공종명"
          schema:
            type: "string"
        - name: "cntrctNm"
          in: "query"
          description: "계약명(용역명)"
          schema:
            type: "string"
      responses:
        '200':
          description: "성공"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"

  /ao/CntrctInfoService/getCntrctInfoListFrgcptPPSSrch:
    get:
      tags: ["계약정보서비스"]
      summary: "나라장터검색조건에 의한 계약현황 외자조회"
      description: "외자에 대한 계약정보를 조회합니다."
      operationId: "getCntrctInfoListFrgcptPPSSrch"
      parameters:
        - $ref: "#/components/parameters/ServiceKey"
        - $ref: "#/components/parameters/NumOfRows"
        - $ref: "#/components/parameters/PageNo"
        - $ref: "#/components/parameters/Type"
        - name: "inqryDiv"
          in: "query"
          description: "조회구분 (1:계약체결일자, 2:확정계약번호, 3:요청번호, 4:공고번호)"
          required: true
          schema:
            type: "string"
            enum: ["1", "2", "3", "4"]
        - name: "prdctClsfcNoNm"
          in: "query"
          description: "품명(영문물품명)"
          schema:
            type: "string"
        - name: "splyCorpNm"
          in: "query"
          description: "공급업체명"
          schema:
            type: "string"
        - name: "makeCorpNm"
          in: "query"
          description: "제작업체명"
          schema:
            type: "string"
      responses:
        '200':
          description: "성공"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"

  # 공공조달통계정보서비스 (14 operations) - 기존 유지
  /at/PubPrcrmntStatInfoService/getTotlPubPrcrmntSttus:
    get:
      tags: ["공공조달통계정보서비스"]
      summary: "전체 공공조달 현황"
      description: "전체 공공조달 현황정보를 조회합니다."
      operationId: "getTotlPubPrcrmntSttus"
      parameters:
        - $ref: "#/components/parameters/ServiceKey"
        - $ref: "#/components/parameters/NumOfRows"
        - $ref: "#/components/parameters/PageNo"
        - $ref: "#/components/parameters/Type"
        - name: "srchBssYear"
          in: "query"
          description: "검색기준년도 (YYYY)"
          schema:
            type: "string"
      responses:
        '200':
          description: "성공"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"

  # 물품목록정보서비스 (12 operations) - 기존 유지
  /at/ThngListInfoService/getThngPrdnmLocplcAccotListInfoInfoPrdnmSearch:
    get:
      tags: ["물품목록정보서비스"]
      summary: "물품명 조회"
      description: "물품명으로 물품정보를 조회합니다."
      operationId: "getThngPrdnmLocplcAccotListInfoInfoPrdnmSearch"
      parameters:
        - $ref: "#/components/parameters/ServiceKey"
        - $ref: "#/components/parameters/NumOfRows"
        - $ref: "#/components/parameters/PageNo"
        - $ref: "#/components/parameters/Type"
        - name: "prdnm"
          in: "query"
          description: "물품명"
          schema:
            type: "string"
      responses:
        '200':
          description: "성공"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"

  # 종합쇼핑몰품목정보서비스 (9 operations) - 기존 유지
  /at/ShoppingMallPrdctInfoService/getMASCntrctPrdctInfoList:
    get:
      tags: ["종합쇼핑몰품목정보서비스"]
      summary: "다수공급자계약 품목정보 조회"
      description: "다수공급자계약으로 체결된 품목정보를 조회합니다."
      operationId: "getMASCntrctPrdctInfoList"
      parameters:
        - $ref: "#/components/parameters/ServiceKey"
        - $ref: "#/components/parameters/NumOfRows"
        - $ref: "#/components/parameters/PageNo"
        - $ref: "#/components/parameters/Type"
        - name: "rgstDtBgnDt"
          in: "query"
          description: "등록일시작일 (YYYYMMDD)"
          schema:
            type: "string"
        - name: "rgstDtEndDt"
          in: "query"
          description: "등록일종료일 (YYYYMMDD)"
          schema:
            type: "string"
        - name: "prdctClsfcNoNm"
          in: "query"
          description: "품목분류번호명"
          schema:
            type: "string"
      responses:
        '200':
          description: "성공"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"

components:
  parameters:
    ServiceKey:
      name: "ServiceKey"
      in: "query"
      description: "공공데이터포털에서 받은 인증키"
      required: true
      schema:
        type: "string"

    NumOfRows:
      name: "numOfRows"
      in: "query"
      description: "한 페이지 결과 수"
      schema:
        type: "integer"
        default: 10
        minimum: 1
        maximum: 1000

    PageNo:
      name: "pageNo"
      in: "query"
      description: "페이지 번호"
      schema:
        type: "integer"
        default: 1
        minimum: 1

    Type:
      name: "type"
      in: "query"
      description: "응답 타입"
      schema:
        type: "string"
        enum: ["json", "xml"]
        default: "json"

  schemas:
    ApiResponse:
      type: "object"
      properties:
        response:
          type: "object"
          properties:
            header:
              type: "object"
              properties:
                resultCode:
                  type: "string"
                  description: "결과코드"
                resultMsg:
                  type: "string"
                  description: "결과메시지"
            body:
              type: "object"
              properties:
                items:
                  type: "array"
                  items:
                    type: "object"
                numOfRows:
                  type: "integer"
                  description: "한 페이지 결과 수"
                pageNo:
                  type: "integer"
                  description: "페이지 번호"
                totalCount:
                  type: "integer"
                  description: "전체 결과 수"